@charset "utf-8";
* { margin: 0; padding: 0; }
body { font-family: Arial; font-size: 12px; }
#head, #middle, #foot { margin: auto; width: 980px; }
#head { background: #ccc; text-align: center; height: 145px; }
#middle { padding: 10px 0; }
#middle dl dt { line-height: 30px; font-size: 14px; font-weight: bold; }
#middle dl dd textarea { width: 100%; }
.ui-msg h1 { margin: 10px 0 30px; text-align: center; }
#foot { background: #f4f4f4; border-top: #e1d0f0 solid 1px; ; text-align: center; height: 125px; }
